.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-top: 70px;
    margin-bottom: 150px;
    background: linear-gradient(180deg ,#fde1ff 0%,#e1ffea22 60%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
    display: flex;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 400;
    display: flex;
}
.offers-left button{
    width: 260px;
    height: 65px;
    font-size: 22px;
    border-radius: 35px;
    background-color: #ff4141;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border: none;
}
.offers-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}